.historyPage {
  background-image: url(../../../public/img/backCommon.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vh;
}

.divider {
  background-color: white;
}

.historyHeader {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #84ABC7;
}

.historyDate {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.menu {
  color: #84ABC7;
}

.historyMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrowBack {
  color: #84ABC7;
}