.listItem {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.deleteBtn {
  color: #8B0000;
}

.editBtn {
  color: #32CD32;
}

.divider {
  background-color: white;
}