.App {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.App-header {
  color: #CEABA0;
  font-family: "Sahitya";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
}

#income, #expences {
  background-color: #CEABA0;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0;
  padding: 5px;
  border-radius: 5px;
}

#expences {
  background-color: #54A5BF;
}

#doughnutReport {
  height: 227px;
  width: 227px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#doughbutHoleReport {
  background-color: #ffffff;
  color: #655C5C;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 117px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 117px;
  border-radius: 50%;
}

.amountOutput {
  text-align: center;
  margin: 20px;
}