summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.dropdownItem {
    list-style-type: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.signout {
    color: $color-8;
}

.dropdownMenu {
    background-color: #617E8C;
    padding: 7px;
    border-radius: 6px;
    position: absolute;
    right: 3px;
    width: 100px
}

.dropdownSummary {
    position: relative;
    cursor: pointer;
}