.category-menu {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #84ABC7;
}

h2 {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #84ABC7;
}

.historyMenu {
    display: flex;
    justify-content: space-around;
    padding: 0 5vh 0 5vh;
}
.arrowBack  {
    color: #84ABC7;
}

.addIcon {
    color: #84ABC7;
}

.cat-block {
    margin: 20px;
    display: flex;
    // margin-left: auto;
    // margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: center;
}

.cat-item {
    align-items: center;
    margin: 10px 20px;
    width: 50px;
}

.cat-name {
    color: #fff;
    font-size: 13px;
    text-align: center;
}

.cat-icon {
    display: block;
    height: 40px;
    margin: 5px auto;
}

@media (max-width: 700px) {
 }
      