@import '../../mixin.scss';

.reportHeader {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: $color-1;
    text-align: center;
    margin-bottom: 15px;
}

.reportMenu {
    display: flex;
    justify-content: space-between;
}

.reportMenuBtn {
    color: $color-2;
}

.IconButton {
    padding: 0;
}