.report {
    background-image: url(../../../public/img/backReport.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5vh;
}
.reportHeader {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #655C5C;
    text-align: center;
    margin-bottom: 15px;
}

.reportMenu {
    display: flex;
    justify-content: space-between;
}
.reportMenuBtn {
    color: #54A5BF;
}