@import '../../mixin.scss';

h1, H1 {
    color: $color-7;
}
#homeComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}
.greeting {
    @include font-style_greeting();
    color: $color-3;
    margin-top: 85px;
}
.btnLog {
    @include font-style_second();
    @include buttonSet();
    margin-bottom: 70px;
    background-color: $color-8;
    color: $color-0;
}
.authorization {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}
input {
    @include buttonSet();
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-9;
    border-radius: 0;
    color: $color-3;
}
    input:focus, input:hover, input:active {
        border: none;
    }
    .auth_elem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }