@import '../../app.scss';

#income, #expences {
    background-color: $color-1;
    height: $inp-h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    padding: 5px;
    border-radius: $inp-r;
}
#expences {
    background-color: $color-2;
}
#doughnutReport {
    @include chart-rad();
}