@import '../../app.scss';
@import '../../mixin.scss';

#Income,
#Expences {
    @include buttonSet();
    background-color: $color-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px auto;
    padding: 5px;
}
#Expences {
    background-color: $color-2;
}
#doughnutReport {
    @include chart-rad();
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#doughbutHoleReport {
    background-color: $color-0;
    color: $color-6;
    @include font-style_doughnut();
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 50%;
    border-radius: 50%;
}
.amountOutput {
    text-align: center;
    margin: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    #Income,
    #Expences,
    #doughnutReport {
        width: 50%;
    }
}
@media screen and (min-width: 1440px) {
    #Income,
    #Expences {
        width: 30%;
    }
    #doughnutReport {
        width: 30%;
    }
}
