.kbd-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-amount {
    text-align: center;
    width: 30vw;
    font-size: 18px;
    color: #fff;
    margin-bottom: 8px;
    border: none;
}

.input-amount::placeholder {
    color: #84abc7;
}

.keybrd-btn {
    text-align: center;
    border: none;
    background-color: #54a5bf;
    color: #fff;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    font-size: 24px;
    margin: auto 0;
}

.img-btn {
    margin: 15px auto;

}

.keyboard-wrap {
    width: 300px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 47px;
    row-gap: 20px;
}

.keyboardField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 20px;
}

.keyboardImg {
    height: 33px;
}

.keyboardCalendar {
    background-color: transparent;
    height: 28px;
    color: aliceblue;
    height: fit-content;
    margin-right: 10px;
}
.keyboardLabel {
    height: 33px;
}

.react-datepicker__input-container {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .input-amount {
        width: 32vw;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .input-amount {
        width: 30vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1438px) {
    .input-amount {
        width: 13vw;
    }
}

@media screen and (min-width: 1439px) and (max-width: 1919px){
    .input-amount {
        width: 9vw;
    }
    .keyboardField {
        width: 300px;
    }
}

@media screen and (min-width: 1920px) {
    .input-amount {
        width: 5vw;
    }
    .keyboardField {
        width: 300px;
    }
}