.historyCalendar {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.datepickerHistory {
    background: transparent;
    text-align: center;
    border: transparent;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: #ffffff;
    display: block !important;
}
.calendar {
    width: 35px;
}