@import '../../mixin.scss';

.listItem {
    color: $color-0;
    font-family: Roboto;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    text-align: center;
    align-items: center;
    padding: 5px 0 5px 0;
}

.listIncome {
    color: #32CD32;

    &:before {
        content: "+";
    }
}


.inputItem {
    color: red;
}

.deleteBtn {
    color: #8B0000;
}

.editBtn {
    color: #32CD32;
}

.dividerItem {
    background-color: $color-0;
}

.dropdownHistory {
    background-color: $color-9;
    padding: 4px;
    border-radius: 6px;
    position: absolute;
    right: 30px;
    width: 100px;
    bottom: 1px;
    text-align: center;
}

.dropdownBtn {
    border: none;
    background-color: $color-9;
    color: #036886;
    cursor: pointer;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

    &:hover {
        color: $color-7;
    }
}

.historyHeader {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #84ABC7;
}

.historyDate {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: $color-0;
}

.menu {
    color: #84ABC7;
}

.historyMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowBack {
    color: #84ABC7;
}

.historyImg {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.react-datepicker__input-container {
    display: block;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .dividerItem {
        width: 50%;
        margin: auto !important;
    }

    .historyList {
        width: 50%;
        margin: auto !important;
    }

}

@media screen and (min-width: 1440px) {
    .dividerItem {
        width: 30%;
        margin: auto !important;
    }

    .historyList {
        width: 30%;
        margin: auto !important;
    }
}