@import '../../mixin.scss';

.listItem {
    color:#FFFFFF;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.deleteBtn {
    color: #8B0000;
}

.editBtn {
    color: #32CD32;
}

.dividerItem {
    background-color: white;
}
.dropdownHistory {
    background-color: $color-9;
    padding: 4px;
    border-radius: 6px;
    position: absolute;
    right: 20px;
    width: 100px;
    bottom: 1px;
    text-align: center;
}
.dropdownBtn {
    border: none;
    background-color: $color-9;
    color: #036886;
    cursor: pointer;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    &:hover {
        color: $color-7;
    }
}
.divider {
    background-color: white;
}
.historyHeader {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #84ABC7;
}
.historyDate {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.menu {
    color: #84ABC7;
}
.historyMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrowBack {
    color: #84ABC7;
}

.historyImg {
    margin-right: 20px;
}
.react-datepicker__input-container {
    display: block;
}

@media screen and (min-width: 768px) {
    .divider {
        width: 50%;
        margin: auto !important;
    }
    .historyList {
        width: 50%;
        margin: auto !important;
    }

}