.category {
    &-header {
        display: flex;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    &-title {
        margin: 0;
        margin-right: 48px;
        margin-left: 48px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #84ABC7;
    }

    &-inputes {
        display: flex;
        flex-direction: column;
    }

    &-field {
        width: 313px;
        text-align: right;
        background: none;
        // outline: none;
        border: none;
        border-bottom: 1px solid #D2CECE;
        margin-bottom: 28px;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;

        &:hover {
            border-color: black;
            cursor: pointer;
        }
    }

    &-tick {
        border: none;
        background: none;

        &:hover {
            cursor: pointer;
        }
    }
    
    &-option {
        background: lightslategrey;
    }

    &-section {
        position: relative;
        display: flex;
        width: 313px;
        height: 3em;
        line-height: 3;
        overflow: hidden;
        border-radius: inherit;
        border-bottom: 1px solid #D2CECE;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;

        &::after {
            content: url(../../../public/images/category-select.png);
            position: absolute;
            top: 16px;
            right: -14px;
            padding: 0 1em;
            cursor: nonepointer;
            pointer-events:none;
            transition:.25s all ease;
        }
    }
}


.form-control {
    width: 313px;
    &::after {
      position: absolute;
      top: 13px;
      right: -17px;
      padding: 0 1em;
      cursor: nonepointer;
      pointer-events:none;
      transition:.25s all ease;
    }
}
  
#demo-simple-select-standard-label {
    padding: 0;
    margin-top: 10px;
    margin-left: -6px;
}
  
.icon-text {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.input-placeholder {
    margin-left: 6px;
    margin-top: -14px;
    margin-bottom: -14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
 