$bgimg-main_style: url(../../Cash-Flow/public/img/img-main.png);
$bgimg-report_style: url(../../Cash-Flow/public/img/img-report.png);
$color-0: #ffffff; // Белый
$color-1: #CEABA0; // Розово-серый
$color-2: #54A5BF; // Сине-серый Крайола
$color-3: #84ABC7; // Сизый
$color-4: #89A6AF; // Пастельно-бирюзовый
$color-5: #91A0A8; // Серое-окно
$color-6: #655C5C; // Тусклый серый
$color-7: #C9886C; // Античная латунь
$color-8: #CE9684; // Коричневато-розовый
$color-9: #D2CECE; // Светлый телегрей
$f-family: Roboto;
// $bgimg-report_active: true;
@mixin font-style_header {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}
@mixin font-style_greeting {
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
}
@mixin font-style_main {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
@mixin font-style_second {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
@mixin font-style_doughnut {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
@mixin chart-rad {
    height: 70%;
    width: 70%;
    margin: 0 auto;
}
@mixin buttonSet {
    border-color: transparent;
    height: 36px;
    border-radius: 5px;
}