@import '../../mixin.scss';

.switcher {
    background-color: $color-2;
    display: flex;
    justify-content: space-around;
    width: 250px;
    height: 40px;
    color: $color-0;
    border-radius: 5px;
    margin: 30px auto;
}

.exp-btn, .inc-btn {
    background-color: $color-2;
    color: $color-0;
    width: 50%;
    font-size: 18px;
    text-align: center;
    margin: 3px;
    border: none;
}

.exp-btn {
    border-radius: 5px 0 0 5px;
}

.inc-btn {
    border-radius: 0 5px 5px 0;
}

.btn_focus {
    background-color: $color-5;
}

.active-btn {
    background-color: $color-5;
    color: $color-0;
    width: 50%;
    font-size: 18px;
    text-align: center;
    margin: 3px;
    border: none;
}
